.bg-overlay {
    position: relative;
    background: url("../../images/bg-7.jpg") no-repeat center center/cover;
    z-index: 1;
}

.bg-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); /* Adjusted to a white overlay with 50% opacity */
    z-index: -1;
}
